<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="is.hellos.demos">

    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_child_care_white_24dp"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_child_care_white_24dp"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="n">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.RadarActivity"/>
        <activity android:name=".activities.TimelineActivity"/>
        <activity android:name=".activities.WaveActivity"/>
        <activity android:name=".activities.TimeActivity"/>
        <activity android:name=".activities.RespirationActivity"/>
        <activity
            android:name=".activities.SettingsActivity"
            android:launchMode="singleInstance"/>

        <service
            android:enabled="true"
            android:name=".widget.RespirationWidgetService"/>

        <service android:name=".widget.RespirationWidgetJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>

        <receiver
            android:icon="@drawable/ic_child_care_white_24dp"
            android:label="@string/app_widget_name"
            android:name=".widget.RespirationWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/respiration_appwidget_info"
                />
        </receiver>

    </application>

</manifest>